/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    margin: 5px;
}

.table td.fit, .table th.fit {
    white-space: nowrap;
    width: 1%;
}

button {
    margin: 3px;
}